[Unit]
Description=waits for config from IoT core, then activates mender agent
After=multi-user.target
ConditionPathExists=!/data/mender/preauth_true

[Service]
Type=idle
ExecStartPre=/opt/gcp/usr/bin/wait-for-timesync
ExecStart=/usr/bin/python /opt/gcp/usr/bin/activate_agent.py

[Install]
WantedBy=multi-user.target
